
/ {
	zephyr,user {
        io-channels = <&adc 0>;
        dht-gpios = <&gpio0 5 0>;
	};
};

&i2c1 {
	bh1750@23 {
		compatible = "rohm,bh1750";
		reg = <0x23>;
	};
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN0>; /* P0.02 for nRF52xx, P0.04 for nRF53xx */
		zephyr,resolution = <12>;
	};
};
